@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,100;1,300&display=swap');

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    line-height: 150%;
}

div.wrapper {
    background-color: white;
}

/* nav */
nav {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.95);
    border-bottom: black solid 2px;
}

div.navWrapper {
    display: flex;
    width: 100vw;
    height: 65px;
    justify-content: flex-start;
    align-items: center;
}

ul.navigation {
    display: flex;
    list-style-type: none;
    margin: 0;
}

ul.navigation a {
    display: block;
    padding: 0 20px;
    line-height: 65px;
    height: 65px;
    color: black;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #ddd;
}

a.contact {
    position: relative;
    background-color: black;
    color: white;
    text-decoration: none;
    text-shadow: 2px 2px 5px rgba(25, 25, 25, 1);
    line-height: 65px;
    padding: 15px;
    margin-left: auto;
    margin-right: 5vw;
    border-radius: 20px;
}

a.contact:hover {
    background-color: #4680ff;
}

.logo {
    margin-left: 20px;
    padding-right: 20px;
    line-height: 65px;
    border-right: dashed black 2px;
}

/* header  */
header {
    height: 100vh;
    background-image: url(./img/modelheader.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    box-shadow: 0px -70px 46px -27px rgba(255, 255, 255, 1) inset;
}

div.overlay {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.6);
    text-align: center;
}

div.title {
    width: 100%;
    text-shadow: 1px 1px 1px rgba(25, 25, 25, 1);
}

div.title h1 {
    font-size: 5rem;
}

div.title h2 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 100;
}

button.arrow {
    width: 100%;
    margin-top: auto;
    margin-bottom: 50px;
    border: none;
    background-color: transparent;
    font-size: 36px;
    animation: shake-horizontal 1s cubic-bezier(0.455, 0.030, 0.515, 0.955) 3s 1 both;
    text-shadow: 1px 1px 1px rgba(25, 25, 25, 1);
    cursor: pointer;
}

/* main  */

main {
    margin: auto auto;
    padding-bottom: 5rem;
}

div.section {
    display: flex;
    gap: 3rem;
    width: 80%;
    margin: 4rem auto;
    background-color: rgb(235, 235, 235);
    border-radius: 20px;
}

div.section img {
    object-fit: cover;
    width: 300px;
    height: auto;
    border-radius: 20px;
}

div.text {
    display: flex;
    flex-direction: column;
    margin: 2rem;
}

div.text h1::after {
    display: block;
    content: '';
    margin-top: 10px;
    width: 50%;
    height: 1px;
    background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

div.social {
    margin-top: auto;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    letter-spacing: 1px;
}

div.social a {
    text-decoration: none;
    color: black;
}

div.social a:nth-child(1):hover i.fa-facebook {
    color: rgb(44, 88, 233);
}

div.social a:nth-child(2):hover i.fa-instagram {
    color: darkmagenta;
}

div.social a:nth-child(3):hover i.fa-twitter {
    color: rgb(44, 88, 233);
}

.fab {
    margin: 2px;
}

/* section  */
section {
    margin: auto auto;
    padding-bottom: 5rem;
}

div.left {
    display: flex;
    gap: 1rem;
    background-color: #414141;
    color: white;
    border-radius: 20px;
}

div.right {
    padding: 2rem;
}

a.mail {
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
}

/* footer  */
footer {
    margin: auto auto;
    background-color: black;
    color: rgb(190, 190, 190);
    padding: 50px;
}

div.footer {
    text-align: center;
    font-size: 0.7rem;
}

@media (max-width:800px) {
    div.title h1 {
        font-size: 3rem;
    }

    div.title h2 {
        font-size: 2rem;
    }

    a.contact {
        display: none;
    }

    ul.navigation a:hover {
        background-color: transparent;
    }

    div.section {
        flex-direction: column;
        gap: 0;
    }

    div.section img {
        order: -1;
    }

    div.social {
        flex-direction: column;
        gap: 0;
    }

    div.left {
        flex-direction: column;
    }
}

@keyframes shake-horizontal {

    0%,
    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%,
    30%,
    50%,
    70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%,
    40%,
    60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}